.addListButtonContainer {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(194, 193, 193, 0.5);
  margin-top: 15px;
  margin-left: 5px;
  padding: 10px 8px;
  border-radius: 3px;
  color: white;
  width: 255px;
  height: 20px;
}
.addListButtonContainer:hover {
  background-color: rgba(253, 250, 250, 0.5);
}
.addListButton {
  cursor: pointer;
  text-align: left;
  width: 100%;
  border-radius: 3px;
  border: none;
  background: none;
  color: white;
  padding-bottom: 7px;
  font-size: 14px;
}
.addListIcon::before {
  content: '+';
  font-size: 25px;
  position: relative;
  top: 4px;
  right: 5px;
}
