.addTaskContainer {
  margin: 2px 5px 8px 8px;
  padding: 5px 8px;
  color: #5e6c84;
  border-radius: 3px;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}
.addTaskContainer:hover {
  background-color: rgba(212, 211, 211, 0.6);
}
.addTaskButton {
  cursor: pointer;
  text-align: left;
  width: 100%;
  border-radius: 3px;
  border: none;
  background: none;
  font-size: 14px;
  border-radius: 3px;
  text-decoration: none;
  color: #5e6c84;
}
.addTaskIcon::before {
  content: '+';
  font-size: 25px;
  position: absolute;
  bottom: 8px;
  left: 10px;
}
.addTaskButtonText {
  margin-left: 8px;
}
