body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
button {
  font-size: calc(10px + 2vmin);
}
._boardPageContainer_i3h88_1 {
  display: flex;
  width: auto;
  background-color: #047c04c2;
  height: 93.6vh;
}
._listsContainer_i3h88_7 {
  width: auto;
  margin-left: 20px;
  display: flex;
  padding: 10px;
  height: 500px;
  min-height: 500px;
  align-items: flex-start;
  flex-wrap: wrap;
}
._listContainer_i3h88_17 {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
  width: 255px;
  margin: 15px 5px;
  font-size: 10px;
}
._editTaskIcon_i3h88_30 {
  opacity: 0;
}
._editTaskIcon_i3h88_30:before {
  content: ' \270e';
  position: absolute;
  bottom: 2px;
  right: 3px;
  font-size: 14px;
}
._editTaskButton_i3h88_40 {
  position: relative;
  width: 16px;
  height: 16px;
  padding: 10px;
  color: #5e6c84;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background: none;
  margin-bottom: 2px;
}
._editTaskButton_i3h88_40:hover {
  background-color: #8f8f8f80;
}
._editListTextarea_i3h88_55:focus {
  outline: none;
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #0079bf;
}
._taskNameContainer_i3h88_60 {
  overflow: hidden;
  min-height: 20px;
  height: auto;
}
._iconDescription_i3h88_65 {
  font-size: 18px;
  color: #42526e;
}
._iconDescription_i3h88_65:before {
  content: '\2630';
}
._listExtrasMenuIcon_14yjm_1 {
  position: absolute;
  top: 8px;
  right: 10px;
  border-radius: 3px;
  color: #6b778c;
  text-decoration: none;
  padding: 7px;
}
._listExtrasMenuIcon_14yjm_1:after {
  content: '\2022\2022\2022';
  font-size: 12px;
  position: relative;
  bottom: 1px;
  left: 0;
}
._listExtrasMenuIcon_14yjm_1:hover {
  background-color: #bbb9;
}
._listExtrasMenu_14yjm_1 {
  position: relative;
  left: 15px;
  top: 40px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
  display: block;
  overflow: hidden;
  position: absolute;
  width: 304px;
  z-index: 3;
}
._toolTipContainer_14yjm_33 {
  margin: 0 12px;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #091e4221;
}
._toolTipTitle_14yjm_43 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
  color: #6b778c;
  font-size: 14px;
}
._closeExtrasMenuButton_14yjm_51 {
  width: 30px;
  height: 30px;
  padding: 10px;
  color: #6b778c;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background: none;
  margin-top: 6px;
  z-index: 3;
}
._closeExtrasMenuButton_14yjm_51:hover {
  color: #4d5564;
}
._closeExtrasMenuButtonIcon_14yjm_66:before {
  content: ' \2716';
  position: relative;
  bottom: 17px;
  right: -5px;
  font-weight: 100;
  font-size: 16px;
}
._extraMenuItemsContainer_14yjm_74 {
  font-size: 14px;
  margin-top: 10px;
  padding: 0 12px 12px;
  overflow-x: hidden;
  overflow-y: auto;
  color: #172b4d;
  font-weight: 400;
}
._extraMenuItemsList_14yjm_83 {
  list-style: none;
  margin: 0;
  padding: 0;
}
._extraMenuItem_14yjm_74 {
  text-align: left;
  cursor: pointer;
  display: block;
  font-weight: 400;
  margin: 0 -12px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  color: #172b4d;
}
._extraMenuItem_14yjm_74:hover {
  background-color: #091e420a;
}
._listTopContainer_i6cit_1 {
  align-items: flex-start;
  margin-bottom: 0;
  width: 90%;
  padding: 2px 5px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
._listNameContainer_kicq7_1 {
  display: flex;
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
._editListTextarea_kicq7_10 {
  font-family: inherit;
  overflow: hidden;
  overflow-wrap: break-word;
  background-color: #fafbfc;
  border-radius: 3px;
  border: none;
  font-weight: 600;
  height: 25px;
  margin-top: 7px;
  padding: 3px 5px;
  resize: none;
  width: 100%;
  font-size: 14px;
  color: #172b4d;
}
._modal_1ubyw_1 {
  height: 100vh;
  width: 100vw;
  background-color: #2b2b2bb3;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s;
  z-index: 2;
}
._modalActive_1ubyw_13 {
  opacity: 1;
  transform: scale(1);
}
._closeModalButton_1ubyw_17 {
  position: absolute;
  right: 23px;
  top: 13px;
  right: 25px;
  width: 30px;
  height: 30px;
  padding: 10px;
  color: #fff9;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background: none;
  margin-bottom: 2px;
}
._closeModalButton_1ubyw_17:hover {
  color: #fff;
}
._closeModalIcon_1ubyw_35:before {
  content: ' \2716';
  position: relative;
  bottom: 17px;
  right: 8px;
  font-weight: 100;
  font-size: 30px;
}
._modalContentContainer_1ubyw_43 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
._editInputContainer_1ubyw_50 {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
._modalContent_1ubyw_43 {
  display: flex;
  flex-direction: row;
}
._editTextAreaContainer_1ubyw_59 {
  display: flex;
  overflow: auto;
  padding: 6px 8px 2px;
  position: relative;
  width: 250px;
  margin-bottom: 15px;
  font-family: inherit;
}
._saveButton_1ubyw_68 {
  margin-left: 8px;
  padding: 6px 12px;
  background-color: #0079bf;
  border: none;
  box-shadow: none;
  color: #fff;
  border-radius: 3px;
  align-items: center;
  font-size: 14px;
  width: 50%;
  cursor: pointer;
  font-weight: 400;
  transition: 85ms ease-in;
}
._saveButton_1ubyw_68:hover {
  background-color: #01598b;
}
._editTextArea_1ubyw_59 {
  overflow-wrap: break-word;
  resize: none;
  height: 140px;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  color: #172b4d;
  width: 97%;
  font-size: 14px;
  font-weight: 400;
}
._editTextArea_1ubyw_59:focus {
  outline: 0;
}
._removeTaskButton_1ubyw_101 {
  background: #0009;
  border: none;
  font-size: 14px;
  border-radius: 3px;
  clear: both;
  color: #e6e6e6;
  float: left;
  cursor: pointer;
  margin: 7px 0 4px;
  padding: 6px 12px 6px 8px;
  text-decoration: none;
  transition: transform 85ms ease-in;
}
._removeTaskButton_1ubyw_101:hover {
  transform: translate(5px);
}
._removeTaskIcon_1ubyw_118:before {
  content: ' \2716';
  color: #e6e6e6;
  position: relative;
  bottom: 0px;
  left: 0;
  font-size: 14px;
}
._removeTaskText_1ubyw_126 {
  margin-left: 5px;
}
._modal_z5o5i_1 {
  height: 100vh;
  width: 100vw;
  background-color: #2b2b2bb3;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s;
  z-index: 2;
}
._modalActive_z5o5i_13 {
  opacity: 1;
  transform: scale(1);
}
._modalContainer_z5o5i_17 {
  display: flex;
  overflow-x: hidden;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
._modalContent_z5o5i_29 {
  background-color: #f4f5f7;
  border-radius: 2px;
  margin: 48px 0 80px;
  overflow: hidden;
  position: relative;
  width: 768px;
  z-index: 6;
  color: #172b4d;
  font-size: 14px;
  font-weight: 400;
  height: 500px;
}
._contentWrapper_z5o5i_42 {
  outline: none;
}
._closeButton_z5o5i_45 {
  border-radius: 50%;
  color: #42526e;
  height: 32px;
  margin: 4px;
  overflow: hidden;
  padding: 4px;
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
  right: 0;
  top: 0;
  transition: background-color 85ms, color 85ms;
  width: 32px;
  z-index: 2;
}
._closeButton_z5o5i_45:hover {
  background-color: #091e4214;
  color: #42526e;
}
._closeButtonIcon_z5o5i_66:before {
  position: relative;
  bottom: 7px;
  content: ' \2716';
  font-weight: 100;
  font-size: 15px;
}
._taskDetailWindow_z5o5i_73 {
  min-height: 600px;
}
._windowHeader_z5o5i_76 {
  margin: 12px 40px 8px 56px;
  min-height: 32px;
  position: relative;
  z-index: 1;
}
._windowHeaderIcon_z5o5i_82 {
  left: -40px;
  position: absolute;
  top: -3px;
  color: #42526e;
  height: 32px;
  line-height: 32px;
  width: 32px;
  font-size: 24px;
}
._windowHeaderIcon_z5o5i_82:before {
  content: '\270e';
}
._windowTitle_z5o5i_95 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
._windowTitle_z5o5i_95 > div > h2 {
  margin: 0;
}
._windowTitle_z5o5i_95 > div > p {
  margin: 0;
}
._taskTitleInput_z5o5i_106 {
  padding: 10px;
  overflow: hidden;
  overflow-wrap: break-word;
  background: #fff;
  border-radius: 3px;
  box-shadow: none;
  border: none;
  font-size: 20px;
  font-weight: 600;
  height: 24px;
  min-height: 24px;
  color: #172b4d;
  resize: none;
  font-family: inherit;
  width: 100%;
}
._taskTitleInput_z5o5i_106:focus {
  box-shadow: inset 0 0 0 2px #0079bf;
  outline: none;
}
._windowHeaderInlineContent_z5o5i_127 {
  margin-top: 5px;
}
._windowMainCol_z5o5i_130 {
  margin-top: 3px;
  padding: 0 8px 8px 16px;
  min-height: 24px;
  position: relative;
  width: 744px;
}
._windowModuleTitle_z5o5i_137 {
  align-items: center;
  display: flex;
  min-height: 32px;
  margin: 0 0 4px 40px;
  padding: 8px 0;
  position: relative;
}
._iconDescription_z5o5i_145 {
  top: 17px;
  font-size: 24px;
  height: 32px;
  line-height: 32px;
  width: 32px;
  left: -40px;
  position: absolute;
  color: #42526e;
}
._iconDescription_z5o5i_145:before {
  content: '\2630';
}
._descriptionContainer_z5o5i_158 {
  text-align: left;
  margin-left: 37px;
  background-color: #091e420a;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  display: block;
  min-height: 40px;
  padding: 8px 12px;
  width: 88%;
}
._descriptionContainer_z5o5i_158:hover {
  background-color: #bbb9;
}
._descriptionInput_z5o5i_173 {
  background-color: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  display: block;
  min-height: 40px;
  text-decoration: none;
  width: 90%;
  margin-left: 40px;
  box-sizing: border-box;
  padding: 10px;
  height: 140px;
  font-family: inherit;
  overflow-wrap: break-word;
  resize: none;
}
._descriptionInput_z5o5i_173:focus {
  box-shadow: inset 0 0 0 2px #0079bf;
  outline: none;
}
._buttonsContainer_z5o5i_194 {
  margin-top: 15px;
  display: flex;
  margin-left: 40px;
}
._saveDescriptionButton_z5o5i_199 {
  background-color: #0079bf;
  color: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 12px;
}
._saveDescriptionButton_z5o5i_199:hover {
  background-color: #015e94;
}
._closeDescriptionButton_z5o5i_216 {
  margin-left: 10px;
  font-size: 25px;
  border: none;
  background: none;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  width: 34px;
  color: #42526e;
}
._closeDescriptionInputIcon_z5o5i_227:before {
  position: relative;
  bottom: 2px;
  right: 2px;
  content: ' \2716';
}
._editDescriptionButtonActive_z5o5i_233 {
  margin-left: 10px;
  align-items: center;
  background-color: #091e420a;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  color: #172b4d;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  line-height: 20px;
  padding: 6px 12px;
}
._editDescriptionButtonActive_z5o5i_233:hover {
  background-color: #07193834;
}
._editDescriptionButton_z5o5i_233 {
  display: none;
}
._taskDescriptionContainerActive_z5o5i_259 {
  margin-left: 40px;
  display: flex;
}
._taskDescriptionContainer_z5o5i_259 {
  display: none;
}
._taskDescriptionText_z5o5i_266 {
  margin: 0;
}
._taskContainer_13epr_1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 8px 2px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px #091e4240;
  cursor: pointer;
  margin: 8px 5px;
  max-width: 300px;
  min-height: 20px;
  height: auto;
  font-size: 14px;
  text-align: left;
  color: #5e6c84;
}
._taskContainer_13epr_1:hover {
  background-color: #d4d3d399;
}
._taskContainer_13epr_1:hover ._editTaskIcon_13epr_22 {
  opacity: 1;
}
._taskNameContainer_13epr_25 {
  overflow: hidden;
  min-height: 20px;
  height: auto;
}
._iconDescription_13epr_30 {
  font-size: 18px;
  color: #42526e;
}
._iconDescription_13epr_30:before {
  content: '\2630';
}
._editTaskButton_13epr_37 {
  position: relative;
  width: 16px;
  height: 16px;
  padding: 10px;
  color: #5e6c84;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background: none;
  margin-bottom: 2px;
}
._editTaskButton_13epr_37:hover {
  background-color: #8f8f8f80;
}
._editTaskIcon_13epr_22 {
  opacity: 0;
}
._editTaskIcon_13epr_22:before {
  content: ' \270e';
  position: absolute;
  bottom: 2px;
  right: 3px;
  font-size: 14px;
}
._addTaskContainer_48rub_1 {
  margin: 2px 5px 8px 8px;
  padding: 5px 8px;
  color: #5e6c84;
  border-radius: 3px;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}
._addTaskContainer_48rub_1:hover {
  background-color: #d4d3d399;
}
._addTaskButton_48rub_13 {
  cursor: pointer;
  text-align: left;
  width: 100%;
  border: none;
  background: none;
  font-size: 14px;
  border-radius: 3px;
  text-decoration: none;
  color: #5e6c84;
}
._addTaskIcon_48rub_25:before {
  content: '+';
  font-size: 25px;
  position: absolute;
  bottom: 8px;
  left: 10px;
}
._addTaskButtonText_48rub_32 {
  margin-left: 8px;
}
._addTaskFormContainer_1hidn_1 {
  padding-bottom: 8px;
}
._addTaskInputContainer_1hidn_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px #091e4240;
  cursor: pointer;
  display: block;
  max-width: 300px;
  min-height: 20px;
  text-decoration: none;
  margin: 0 5px 8px;
}
._addTaskInput_1hidn_4 {
  margin: 0;
  padding: 7px;
  background: none;
  border: none;
  box-shadow: none;
  min-height: 54px;
  overflow-wrap: break-word;
  resize: none;
  font-family: inherit;
  width: 94%;
  font-size: 14px;
  font-weight: 400;
  color: #172b4d;
}
._addTaskInput_1hidn_4:focus {
  outline: 0;
}
._addTaskFooterContainer_1hidn_37 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._addTaskButtonContainer_1hidn_42 {
  height: 32px;
  margin: 4px 5px 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
._addTaskInputButton_1hidn_50 {
  height: 32px;
  margin-top: 0;
  margin-right: 5px;
  min-height: 32px;
  background-color: #0079bf;
  border: none;
  box-shadow: none;
  color: #fff;
  padding: 6px 12px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-family: inherit;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
._addTaskInputButton_1hidn_50:hover {
  background-color: #0a6397;
}
._closeButton_1hidn_71 {
  margin-left: 3px;
  border: none;
  width: 30px;
}
._closeButtonContent_1hidn_76 {
  position: relative;
  bottom: 10px;
  right: 16px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
._closeButtonContent_1hidn_76:before,
._closeButtonContent_1hidn_76:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #172b4d;
}
._closeButtonContent_1hidn_76:before {
  transform: rotate(45deg);
}
._closeButtonContent_1hidn_76:after {
  transform: rotate(-45deg);
}
._addTaskExtrasMenuContainer_1hidn_99 {
  position: relative;
  padding: 5px;
  margin-right: 5px;
  border-radius: 3px;
  cursor: pointer;
}
._addTaskExtrasMenu_1hidn_99 {
  color: #6b778c;
  text-decoration: none;
}
._addTaskExtrasMenu_1hidn_99:after {
  content: '\2022\2022\2022';
  font-size: 20px;
  position: relative;
  bottom: 1px;
  left: 0;
}
._addTaskExtrasMenuContainer_1hidn_99:hover {
  background-color: #bbb9;
}
._tasksContainer_f5uir_1 {
  display: flex;
  flex-direction: column;
  position: relative;
}
._sidePaneContainer_1rm8q_1 {
  width: 16px;
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  height: 93.6vh;
  z-index: 5;
  transform: translate(0);
  cursor: pointer;
  transition: transform 0.1s ease-in;
  background-color: #a1fca1af;
  border-right: 1px solid #dfe1e648;
}
._sidePaneContainer_1rm8q_1:hover {
  background-color: #a1fca1e7;
}
._sidePaneContainer_1rm8q_1:hover ._sidePaneButton_1rm8q_17 {
  background-color: #f1faf1c7;
}
._sidePaneContainerActive_1rm8q_20 {
  background-color: #0ba50b9f;
  position: relative;
  top: 0;
  left: 0;
  width: 260px;
  cursor: initial;
  border-right: 1px solid #dfe1e648;
}
._sidePaneContainerActive_1rm8q_20:hover {
  background-color: #0ba50b9f;
}
._sidePaneButtonContainer_1rm8q_32 {
  position: absolute;
  left: -12px;
  flex: 1;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
._sidePaneButton_1rm8q_17 {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin: 10px 0 0 16px;
  display: flex;
  justify-content: center;
  border: 2px solid rgba(107, 248, 107, 0.555);
  align-items: center;
  border: none;
  cursor: pointer;
  z-index: 7;
}
._sidePaneButtonIconContainer_1rm8q_55 {
  position: relative;
  background-color: #6bf86b8e;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
._activeSidePaneContainer_1rm8q_62 {
  height: 100%;
  min-height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: #1847189f;
  width: 100%;
}
._activeSidePaneContentContainer_1rm8q_71 {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
  color: #fff;
}
._activeSidePaneContent_1rm8q_71 {
  display: flex;
  width: 91%;
  align-items: center;
  padding: 14px 12px 10px;
  min-height: 40px;
  border-bottom: 1px solid #dfe1e6;
  margin-bottom: 10px;
}
._activeSidePaneItem_1rm8q_89 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
._activeSidePaneUserButton_1rm8q_95 {
  text-decoration: none;
}
._activeSidePaneUserImgContainer_1rm8q_98 {
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  overflow: hidden;
}
._activeSidePaneUserImg_1rm8q_98 {
  background: linear-gradient(#b22865, #cd5a91);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
._activeSidePanelUserInfo_1rm8q_118 {
  width: 10px;
  margin-left: 8px;
  margin-right: 4px;
  text-align: left;
}
._userLink_1rm8q_124 {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
}
._userStatus_1rm8q_130 {
  margin: 0;
  font-size: 12px;
}
._leftactivePaneItem_1rm8q_134 {
  display: flex;
  flex-direction: row;
}
._closeSidePaneButton_1rm8q_138 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  border: none;
  background: none;
}
._closeSidePaneButtonIcon_1rm8q_153 {
  position: relative;
  top: 2px;
  left: 1px;
  width: 28px;
  height: 28px;
  filter: brightness(0) invert(100%);
  background-color: none;
}
._closeSidePaneButton_1rm8q_138:hover {
  background-color: #2d9e2d88;
}
._userActivityLink_1rm8q_165 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
  color: #fff;
  text-decoration: none;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
}
._userActivityLink_1rm8q_165:hover {
  background-color: #2d9e2d88;
}
._boardIcon_1rm8q_179 {
  margin-right: 10px;
}
._usersIconContainer_1rm8q_182 {
  margin-right: 10px;
  color: #fff;
}
._activityIcon_1rm8q_186 {
  filter: brightness(0) invert(100%);
}
._addListButtonContainer_mv5di_1 {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #c2c1c180;
  margin-top: 15px;
  margin-left: 5px;
  padding: 10px 8px;
  border-radius: 3px;
  color: #fff;
  width: 255px;
  height: 20px;
}
._addListButtonContainer_mv5di_1:hover {
  background-color: #fdfafa80;
}
._addListButton_mv5di_1 {
  cursor: pointer;
  text-align: left;
  width: 100%;
  border-radius: 3px;
  border: none;
  background: none;
  color: #fff;
  padding-bottom: 7px;
  font-size: 14px;
}
._addListIcon_mv5di_29:before {
  content: '+';
  font-size: 25px;
  position: relative;
  top: 4px;
  right: 5px;
}
._addListInputContainer_icrcu_1 {
  margin-top: 15px;
  margin-left: 5px;
  background-color: #ebecf0;
  border-radius: 3px;
  width: 272px;
  padding: 4px;
  height: 66px;
}
._addListInput_icrcu_1 {
  width: 90%;
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #0079bf;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 8px 12px;
}
._addListInputButtonContainer_icrcu_19 {
  height: 32px;
  margin: 4px 0 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
._addListInputButton_icrcu_19 {
  height: 32px;
  margin-top: 0;
  min-height: 32px;
  background-color: #0079bf;
  border: none;
  box-shadow: none;
  color: #fff;
  padding: 6px 12px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  font-family: inherit;
  font-weight: 400;
}
._closeButton_icrcu_43 {
  margin-left: 3px;
  border: none;
  width: 30px;
}
._closeButtonContent_icrcu_48 {
  position: relative;
  bottom: 10px;
  right: 16px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
._closeButtonContent_icrcu_48:before,
._closeButtonContent_icrcu_48:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #172b4d;
}
._closeButtonContent_icrcu_48:before {
  transform: rotate(45deg);
}
._closeButtonContent_icrcu_48:after {
  transform: rotate(-45deg);
}
._headerContainer_1anjb_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
  background-color: #045304;
  color: #fff;
}
._leftHeaderContainer_1anjb_9 {
  display: flex;
  flex-direction: row;
}
._trelloLogoContainer_1anjb_13 {
  width: 80px;
  padding: 0 6px;
  height: 32px;
  border-radius: 3px;
}
._trelloLogo_1anjb_13 {
  background-image: url(https://a.trellocdn.com/prgb/dist/images/header-logo-spirit.d947df93bc055849898e.gif);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
._trelloLogoContainer_1anjb_13:hover {
  background-color: #dadada80;
}
._headerButton_1anjb_30 {
  border-radius: 3px;
  height: 32px;
  background: none;
  border: none;
  color: #fff;
  line-height: 15px;
  font-size: 14px;
  margin-right: 4px;
  padding: 5px 10px 15px 7px;
  white-space: nowrap;
}
._buttonArrow_1anjb_42 {
  padding: 5px;
}
._headerButton_1anjb_30:hover {
  background-color: #dadada80;
}
._createButton_1anjb_48 {
  background-color: #003500;
  color: #fff;
  font-size: 14px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  height: 32px;
}
._createButton_1anjb_48:hover {
  background-color: #dadada80;
}
._rightHeaderContainer_1anjb_61 {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
._searchInput_1anjb_67 {
  background-color: #ffffff4d;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  font-size: 14px;
  padding-right: 8px;
  padding-left: 10px;
  margin-left: 4px;
  margin-right: 4px;
  height: 30px;
  width: 250px;
  color: #fff;
}
._searchInput_1anjb_67::-webkit-input-placeholder {
  color: #fff;
}
._searchInput_1anjb_67:focus {
  background-color: #fff;
  outline: none;
  color: #000;
}
._rightHeaderButton_1anjb_88 {
  border-radius: 3px;
  height: 34px;
  width: 36px;
  background: none;
  border: none;
  color: #fff;
  line-height: 15px;
  font-size: 14px;
  margin-right: 4px;
  padding: 5px 3px;
  white-space: nowrap;
}
._rightHeaderButton_1anjb_88:hover {
  background-color: #dadada80;
}
._avatarContainer_1anjb_104 {
  background-image: url(https://trello-members.s3.amazonaws.com/61e530170380a71308491223/b02d2af87fab21c755ff6d2b725e67e6/50.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 23px;
  height: 23px;
}
._mainPageContainer_ntwei_1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #172b4d;
}
._mainPageContentContainer_ntwei_7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
._stickyContainer_ntwei_13 {
  position: sticky;
  top: 0px;
}
._leftSideBarContainer_ntwei_17 {
  margin: 40px 0 0;
  padding: 0 16px;
  width: 240px;
}
._sideBarIconContainer_ntwei_22 {
  width: 12px;
  height: 12px;
  margin: 3px 12px;
}
._sideBarActiveItemLink_ntwei_27 {
  background-color: #e4f0f6;
  color: #0079bf;
  border-radius: 4px;
  box-shadow: none;
  display: flex;
  font-weight: 700;
  margin: 0;
  min-height: 20px;
  overflow: hidden;
  padding: 6px 8px 6px 0;
  text-decoration: none;
  cursor: pointer;
}
._sideBarItemsList_ntwei_41 {
  margin-bottom: 12px;
  list-style: none;
  padding: 0;
}
._sideBarItemLink_ntwei_46 {
  color: #000;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: none;
  display: flex;
  font-weight: 700;
  margin: 0;
  min-height: 20px;
  overflow: hidden;
  padding: 6px 8px 6px 0;
  text-decoration: none;
  cursor: pointer;
}
._sideBarItemLink_ntwei_46:hover {
  background-color: #091e4214;
}
._sideBarItemIcon_ntwei_63 {
  position: relative;
  bottom: 1px;
  right: 1px;
}
._teamSideBarContainer_ntwei_68 {
  margin-top: 8px;
}
._workSpaceContainer_ntwei_71 {
  align-items: baseline;
  display: flex;
  height: 32px;
  justify-content: flex-start;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 700;
  padding: 0 0 0 8px;
}
._addWorkSpaceButton_ntwei_81 {
  padding: 0;
  width: 22px;
  height: 22px;
  justify-content: center;
  align-items: center;
  margin: 8px 0 0 auto;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  display: flex;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  text-align: left;
}
._addWorkSpaceButton_ntwei_81:hover {
  background-color: #091e4214;
}
._addWorkSpaceIcon_ntwei_104 {
  position: relative;
  top: 2px;
}
._userImgContainer_ntwei_108 {
  background: linear-gradient(#b22865, #cd5a91);
  font-size: 14px;
  border-radius: 2px;
  height: 21px;
  width: 21px;
  margin: 6px;
  color: #fff;
  font-weight: 700;
}
._userImgLink_ntwei_118 {
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: none;
  display: flex;
  font-weight: 700;
  width: 100%;
  margin: 0;
  min-height: 20px;
  overflow: hidden;
  padding: 6px 8px 6px 0;
  text-decoration: none;
  color: #000;
}
._userLinkArrowContainer_ntwei_133 {
  margin-left: 150px;
}
._sideBarUserItemLink_ntwei_136 {
  color: #000;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: none;
  display: flex;
  font-weight: 700;
  margin: 0;
  min-height: 20px;
  overflow: hidden;
  padding: 6px 8px 6px 20px;
  text-decoration: none;
  cursor: pointer;
}
._sideBarUserItemLink_ntwei_136:hover {
  background-color: #091e4214;
}
._sideBarItemTitle_ntwei_153 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
._allBoards_ntwei_158 {
  margin: 40px 16px 0;
  max-width: 825px;
  min-width: 288px;
  width: 100%;
}
._contentAllBoards_ntwei_164 {
  position: sticky;
  top: 0px;
}
._boardSection_ntwei_168 {
  padding: 0 0 20px;
  margin: 0 auto;
  width: 960px;
  max-width: 1266px;
}
._boardSectionHeader_ntwei_174 {
  display: flex;
  margin: 0 0 0 40px;
  padding: 0 0 11px;
  position: relative;
}
._boardSectionHeaderIcon_ntwei_180 {
  left: 0px;
  position: absolute;
  top: 5px;
}
._boardSectionHeaderName_ntwei_185 {
  display: inline-block;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 6px 0 0 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
._boardSectionItemsList_ntwei_196 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}
._boardSectionItem_ntwei_196 {
  display: flex;
  height: 100px;
  font-weight: 700;
  margin: 0 2% 2% 0;
  padding: 0;
  transform: translate(0);
  width: 23.5%;
  border-radius: 3px;
  cursor: pointer;
  background-color: #2d9e2d;
}
._boardSectionItem_ntwei_196:hover {
  background-color: #1d6b1d;
}
._boardSectionItemLink_ntwei_217 {
  text-align: left;
  color: #fff;
  line-height: 20px;
  width: 100%;
  padding: 8px;
  position: relative;
  text-decoration: none;
}
._boardWorkSpaceTitleContainer_ntwei_226 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 910px;
  margin-top: 70px;
  margin-left: 40px;
}
._boardWorkSpaceTitle_ntwei_226 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
._boardWorkSpaceSideBarContainer_ntwei_238 {
  padding: 0 0 20px;
  margin: 0 auto;
  max-width: 1266px;
}
._boardWorkSpaceSideBar_ntwei_238 {
  display: flex;
  margin: 0 0 0 40px;
  padding: 0 0 11px;
  position: relative;
  justify-content: center;
  align-items: center;
}
._boardWorkSpaceSideBarHeaderIcon_ntwei_251 {
  display: flex;
  left: -40px;
  position: relative;
  top: 0;
}
._boardWorkSpaceSideBarHeaderIconImgContainer_ntwei_257 {
  position: relative;
  top: 5px;
  border-radius: 3px;
  height: 32px;
  margin-bottom: 16px;
  margin-right: 10px;
  overflow: hidden;
  width: 32px;
}
._boardWorkSpaceSideBarHeaderIconImg_ntwei_257 {
  background: linear-gradient(#b22865, #cd5a91);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
._boardWorkSpaceSideBarItemsContainer_ntwei_278 {
  display: flex;
  width: 100%;
}
._boardWorkSpaceSideBarItem_ntwei_278 {
  background-color: #091e420a;
  border: none;
  box-shadow: none;
  display: inline-block;
  margin-bottom: 8px;
  margin-left: 8px;
  padding: 6px 12px 6px 6px;
  position: relative;
  text-decoration: none;
  border-radius: 3px;
  color: #172b4d;
}
._boardWorkSpaceSideBarItem_ntwei_278:hover {
  background-color: #24282e33;
}
._boardWorkSpaceSideBarItemIconContainer_ntwei_299 {
  margin: 0 10px;
  position: relative;
  top: 3px;
}
._boardWorkSpaceUpgradeButtonContainer_ntwei_304 {
  display: inline-block;
  height: 32px;
  margin-bottom: auto;
  margin-left: 8px;
}
._boardWorkSpaceUpgradeButton_ntwei_304 {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #eddbf4;
  overflow: hidden;
  padding: 6px 12px 6px 6px;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
._boardWorkSpaceUpgradeButton_ntwei_304:hover {
  background: #edbeff;
}
._boardWorkSpaceUpgradeButtonIconContainer_ntwei_325 {
  margin: 0 5px;
}
._\441reateboardsectionitemcontainer_12v2p_1 {
  margin: 0 2% 2% 0;
  transform: translate(0);
  width: 23.5%;
  height: 100px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 4px 8px;
  position: relative;
}
._\441reateboardsectionitem_12v2p_1 {
  background-color: #091e420a;
  border: none;
  text-align: center;
  border-radius: 3px;
  box-shadow: none;
  color: #172b4d;
  display: table-cell;
  font-weight: 400;
  height: 100px;
  width: 23%;
  vertical-align: middle;
}
._\441reateboardsectionitem_12v2p_1:hover {
  background-color: #15243f2f;
}
._boardExtrasMenu_12v2p_28 {
  position: relative;
  left: 180px;
  top: 0px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
  display: block;
  overflow: hidden;
  position: absolute;
  width: 280px;
  z-index: 3;
}
._toolTipContainer_12v2p_41 {
  margin: 0 12px;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #091e4221;
}
._toolTipTitle_12v2p_51 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
  color: #6b778c;
  font-size: 14px;
}
._closeExtrasMenuButton_12v2p_59 {
  width: 30px;
  height: 30px;
  padding: 10px;
  color: #6b778c;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background: none;
  margin-top: 6px;
  z-index: 3;
}
._closeExtrasMenuButton_12v2p_59:hover {
  color: #4d5564;
}
._closeExtrasMenuButtonIcon_12v2p_74:before {
  content: ' \2716';
  position: relative;
  bottom: 17px;
  right: -5px;
  font-weight: 100;
  font-size: 16px;
}
._extraMenuItemsContainer_12v2p_82 {
  margin-top: 10px;
  padding: 0 12px 12px;
  overflow-x: hidden;
  overflow-y: auto;
  color: #172b4d;
  font-size: 14px;
  font-weight: 400;
}
._extraMenuItemsList_12v2p_91 {
  list-style: none;
  margin: 0;
  padding: 0;
}
._extraMenuItem_12v2p_82 {
  text-align: left;
  cursor: pointer;
  display: block;
  font-weight: 400;
  margin: 0 -12px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  color: #172b4d;
}
._addBoardInput_12v2p_107 {
  margin-top: 10px;
  outline: none;
  border: none;
  box-sizing: border-box;
  color: #172b4d;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  border-radius: 3px;
  padding: 8px 12px;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  background-color: #fafbfc;
  width: 100%;
  margin-bottom: 0;
}
._addBoardButton_12v2p_124 {
  margin-top: 10px;
  background-color: #0079bf;
  width: 100%;
  box-shadow: none;
  border: none;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 12px;
  text-decoration: none;
  white-space: normal;
}
._addBoardButton_12v2p_124:hover {
  background-color: #0079bfc4;
}
._modal_1sagl_1 {
  position: absolute;
  top: -70px;
  right: 30px;
  height: 160px;
  width: 400px;
  z-index: 100;
}
._modalContainer_1sagl_9 {
  display: flex;
  overflow-x: hidden;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 50;
}
._modalContent_1sagl_21 {
  background-color: #f4f5f7;
  border-radius: 2px;
  margin: 48px 0 80px;
  overflow: hidden;
  position: relative;
  width: 768px;
  z-index: 6;
  color: #172b4d;
  font-size: 14px;
  font-weight: 400;
  height: 500px;
}
._contentWrapper_1sagl_34 {
  outline: none;
}
._closeButton_1sagl_37 {
  border-radius: 50%;
  color: #42526e;
  height: 32px;
  margin: 4px;
  overflow: hidden;
  padding: 4px;
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
  right: 0;
  top: 0;
  transition: background-color 85ms, color 85ms;
  width: 32px;
  z-index: 2;
}
._closeButton_1sagl_37:hover {
  background-color: #091e4214;
  color: #42526e;
}
._closeButtonIcon_1sagl_58:before {
  position: absolute;
  left: 10px;
  bottom: 7px;
  content: ' \2716';
  font-weight: 100;
  font-size: 15px;
}
._taskDetailWindow_1sagl_66 {
  min-height: 600px;
}
._windowHeader_1sagl_69 {
  margin: 12px 40px 8px 56px;
  min-height: 32px;
  position: relative;
  z-index: 1;
}
._windowHeaderIcon_1sagl_75 {
  left: -40px;
  position: absolute;
  top: -3px;
  color: #42526e;
  height: 32px;
  line-height: 32px;
  width: 32px;
  font-size: 24px;
}
._windowHeaderIcon_1sagl_75:before {
  content: '\270e';
}
._windowTitle_1sagl_88 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
._windowTitle_1sagl_88 > div > h2 {
  margin: 0;
}
._windowTitle_1sagl_88 > div > p {
  margin: 0;
}
._boardTitleInput_1sagl_99 {
  padding: 10px;
  overflow: hidden;
  overflow-wrap: break-word;
  background: #fff;
  border-radius: 3px;
  box-shadow: none;
  border: none;
  font-size: 20px;
  font-weight: 600;
  height: 24px;
  min-height: 24px;
  color: #172b4d;
  resize: none;
  font-family: inherit;
  width: 90%;
}
._taskTitleInput_1sagl_116:focus {
  box-shadow: inset 0 0 0 2px #0079bf;
  outline: none;
}
._windowHeaderInlineContent_1sagl_120 {
  margin-top: 5px;
}
._windowMainCol_1sagl_123 {
  margin-top: 3px;
  padding: 0 8px 8px 16px;
  min-height: 24px;
  position: relative;
  width: 744px;
}
._windowModuleTitle_1sagl_130 {
  align-items: center;
  display: flex;
  min-height: 32px;
  margin: 0 0 4px 40px;
  padding: 8px 0;
  position: relative;
}
._iconDescription_1sagl_138 {
  top: 17px;
  font-size: 24px;
  height: 32px;
  line-height: 32px;
  width: 32px;
  left: -40px;
  position: absolute;
  color: #42526e;
}
._iconDescription_1sagl_138:before {
  content: '\2630';
}
._descriptionContainer_1sagl_151 {
  text-align: left;
  margin-left: 37px;
  background-color: #091e420a;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  display: block;
  min-height: 40px;
  padding: 8px 12px;
  width: 88%;
}
._descriptionContainer_1sagl_151:hover {
  background-color: #bbb9;
}
._descriptionInput_1sagl_166 {
  background-color: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  display: block;
  min-height: 40px;
  text-decoration: none;
  width: 90%;
  margin-left: 40px;
  box-sizing: border-box;
  padding: 10px;
  height: 140px;
  font-family: inherit;
  overflow-wrap: break-word;
  resize: none;
}
._descriptionInput_1sagl_166:focus {
  box-shadow: inset 0 0 0 2px #0079bf;
  outline: none;
}
._buttonsContainer_1sagl_187 {
  margin-top: 15px;
  display: flex;
  margin-left: 40px;
}
._saveDescriptionButton_1sagl_192 {
  background-color: #0079bf;
  color: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 12px;
}
._saveDescriptionButton_1sagl_192:hover {
  background-color: #015e94;
}
._closeDescriptionButton_1sagl_209 {
  margin-left: 10px;
  font-size: 25px;
  border: none;
  background: none;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  width: 34px;
  color: #42526e;
}
._closeDescriptionInputIcon_1sagl_220:before {
  position: relative;
  bottom: 2px;
  right: 2px;
  content: ' \2716';
}
._editDescriptionButtonActive_1sagl_226 {
  margin-right: 10px;
  align-items: center;
  background-color: #091e420a;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  color: #172b4d;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  line-height: 20px;
  padding: 6px 12px;
}
._editDescriptionButtonActive_1sagl_226:hover {
  background-color: #07193834;
}
._editDescriptionButton_1sagl_226 {
  display: none;
}
._taskDescriptionContainerActive_1sagl_252 {
  margin-left: 40px;
  display: flex;
}
._taskDescriptionContainer_1sagl_252 {
  display: none;
}
._taskDescriptionText_1sagl_259 {
  margin: 0;
}
._boardSectionItem_qv7j4_1 {
  display: flex;
  height: 100px;
  font-weight: 700;
  margin: 0 2% 2% 0;
  padding: 0;
  transform: translate(0);
  width: 23.5%;
  border-radius: 3px;
  cursor: pointer;
  z-index: 1;
  background-color: #2d9e2d;
}
._boardSectionItem_qv7j4_1:hover {
  background-color: #1d6b1d;
}
._boardSectionItemLink_qv7j4_17 {
  text-align: left;
  color: #fff;
  line-height: 20px;
  width: 100%;
  padding: 8px;
  position: relative;
  text-decoration: none;
}
._editButton_qv7j4_26 {
  top: 60px;
  position: absolute;
  z-index: 50;
  margin: 10px;
  padding: 3px;
  width: 16px;
  height: 16px;
  border-radius: 3px;
}
._editButton_qv7j4_26:hover {
  background-color: #091e4269;
}
._boardNameContainer_qv7j4_39 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
._boardSectionItemsList_1wnvg_1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}
